@import "main.scss";
// Add the selectors needed to customize the theme
body {
  background-color: #fffdd3 !important;
}

.select-label {
  padding: 0px !important;
}

.video-panel {
  background-color: white !important;
}
