// Add the selectors needed to customize the theme
$background-color: rgb(47, 164, 231);
$progress-bar-color: #03435a;
$thumb-color: #40e4ff;
$border-color: black;
$trans-color: rgb(6, 47, 79);
body {
  background-color: #fffdd3 !important;
}

.select-label {
  padding: 0px !important;
}

.video-panel {
  background-color: white !important;
}

.check-list {
  border-color: #222;
  border-width: 1px;
  border-style: dotted;
  background-color: $background-color;
}

.controls {
  div {
    #time,
    .glyphicon {
      color: black !important;
    }
  }
}
@import "main.scss";
