@import "main.scss";
// Add the selectors needed to customize the theme

.glyphicon-warning:hover {
  color: #e74c3c;
}
 
.check-list {
  border-color: #222;
  background-color: #375a7f;
}
