.info {
  max-height: 20em;
  float: right;
  margin-top: 1em;
}

.video {
  padding-right: 1em;
  margin-top: 1em;
  float: left;
}

.recomendations {
  float: right;
  margin-top: 1em;
  margin-top: 1em;
  padding-left: 1em;
}

.comments {
  float: left;
  padding-right: : 1em;
  margin-top: 1em;
  align-items: center;
}

.info .panel-body {
  max-height: 10em;
  overflow-y: scroll;
}

.info .panel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.info .panel-group {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.img-prueba {
  width: 100%;
  margin-top: 1em;
}

.comment>.comment {
  width: 95%;
  margin-left: 5%;
}

.comment {
  text-align: justify;
  margin-bottom: 1em;
}

.video-prueba {
  width: 100%
}

.video-header {
  margin-bottom: 1em;
}

@media (min-width: 1200px) {
  .video-thumb img {
    width: 100%;
    margin-top: 25%;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .video-thumb img {
    width: 100%;
    margin-top: 20%;
  }
}

@media (max-width: 991px) {
  .video-thumb img {
    width: 100%;
  }
}

.choices {
  margin-bottom: 1em;
}

.radio-label {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.glyphicon-lg {
  font-size: 150%;
}

.glyphicon-warning {
  color: #f39c12;
}

.glyphicon-warning:hover {
  color: #e74c3c;
}

.logo {
  width: 4em;
}

.formUsers {
  padding: 0em 1em;
}

.formUsers .row {
  margin-bottom: 5px;
}
.formUsers button {
  width: 50%
}
